*{
	padding: 0;
	margin: 0;
	font-family: Lato, serif;
}

pre {
	white-space: pre-wrap;      
	white-space: -moz-pre-wrap;  
	white-space: -pre-wrap;     
	white-space: -o-pre-wrap;    
	word-wrap: break-word;  
}

html{
	max-width: 100%;
	max-height: 100%;
	height: 100%;
}

body{
	max-width: 100%;
	max-height: 100%;
	height: 100%;
}

a{
	color: gray;
	cursor: pointer;
}

table{
	border-collapse: collapse;
}

th, td{
   border: 1px solid lightgray;
   padding: 10px;
}

input, textarea{
	font-size: 16px;
	padding: 10px;
	width: 100%;
	max-width: 100%;
	border: 1px solid lightgray;
	border-radius: 2px;
	outline: none;
	resize: none;
	box-sizing: border-box;
	transition: border 0.4s ease 0s;
}

textarea{
	height: 100px;
}

input:-webkit-autofill{
    outline: none;
    background-color: #FFFFFF !important;
}

input:hover, textarea:hover{

}

input:active, textarea:active{
	border-color: gray;
}

button{
	padding: 5px;
	width: 80px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #c6c6c6;
	border-radius: 2px;
	background: #E0E0E0;
	color: gray;
	outline: none;
	text-align: center;
	transition: all 0.4s ease 0s;
}

button:hover{
	background: #d3d3d3;
}

button:active{
	background: #ecf0f1;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #ecf0f1;
}

.login_form, .singup_form{
	width: 205px;
	padding: 10px;
	margin: 10px auto;
	border-left: 1px solid #c6c6c6;
	border-right: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6;
	border-bottom: 2px solid #c6c6c6;
	border-radius: 2px;
}

.password, .username, .firstname, .lastname{
	margin-bottom: 5px;
}

.friends{
	float: right;
}

.submit{
	text-align: center;
	width: 100px;
}

.login_a, .singup_a{
	float: right;
	margin-top: 6px;
}

.error{
	background: #e74c3c;
	color: #FFFFFF;
	padding: 5px;
	border-left: 1px solid #c0392b;
	border-right: 1px solid #c0392b;
	border-top: 1px solid #c0392b;
	border-bottom: 2px solid #c0392b;
	margin-bottom: 5px;
	border-radius: 2px;
	-webkit-animation: fade 1s;
	text-align: left;
}

.header{
	width: 100%;
	max-width: 100%;
	height: 50px;
	position: fixed;
	z-index: 9999;
	background: white;
	padding: 10px;
	border-bottom: 2px solid lightgray;
	box-sizing: border-box;
}

.h_c{
	width: 1000px;
	margin: 5px auto;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.nav_a{
	text-decoration: none;
	color: black;
	margin-right: 10px;
	font-size: 16px;
	font-family: Lato;
}

.profile_a{
	text-decoration: none;
}

.logout_a{
	float: right;
	margin-right: 10px;
	float: right;
	width: 20px;
	height: 20px;
	background-size: 16px 16px; 
	background-repeat: no-repeat;
    background-position: center; 
	background-image: url("images/assets/icons/logout.png");
}

.content{
	width: 1000px;
	margin: 0 auto;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

.edit_profile{
	text-decoration: none;
	color: gray;
}

.profile_i_s{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: -60px;
}

.profile_i{
	width: 100px;
	height: 100px;
}

#ib, #tb{
	width: 900px;
	height: 900px;
}

.add_message, .edit_message{
	width: 500px;
	border: 1px solid lightgray;
	border-radius: 1px;
	background: whitesmoke;
	padding: 10px;
}

.edit_ta, .message_ta{
	margin-bottom: 5px;
}

.edit_i, .message_i{
	margin-bottom: 5px;
}

.save{
	width: 80px;
	text-align: center;
	float: right;
}

.img_c{
	width: 500px;
	margin: 0 auto;
	float: left;
}

#modal_window{
	display: none;
	background: white;
	min-0width: 50%;
	min-height: 50%;
	z-index: 100000;
	padding: 10px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#blind{
	position: fixed;
	display: none;
	z-index:9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.7;
}

.close_modal{
	float: right;
	position: fixed;
	right: 10px;
	top: 10px;
	position: absolute;
}

.post{
	width: 500px;
	padding: 10px;
	border-radius: 1px;
	border: 1px solid lightgray;
}

.post:before{
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 5px solid transparent;
	border-right-color: lightgray;
	margin-left: -20px;
}

.post_header{
	margin-bottom: 10px;
}

.post_footer{
	min-height: 16px;
	background: whitesmoke;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	margin-top: 10px;
	padding: 10px;
	font-size: 14px;
	color: gray;
}

.edit, .erase{
	float: right;
	width: 20px;
	height: 20px;
	background-size: 16px 16px; 
	background-repeat: no-repeat;
	background-position: center; 
}

.edit{
	background-image: url("images/assets/icons/edit.png");
}

.erase{
	background-image: url("images/assets/icons/erase.png");
}

.settings_a{
	float: right;
	width: 20px;
	height: 20px;
	background-size: 16px 16px; 
	background-repeat: no-repeat;
	background-position: center; 
	background-image: url("images/assets/icons/settings.png");
}

.likes{
	float: right;
	font-size: 14px;
	color: gray;
}

.like_a{
	font-size: 14px;
	text-decoration: none;
	color: gray;
}

.comm_a{
	font-size: 14px;
	text-decoration: none;
	color: gray;
}

.like_a:hover{
	text-decoration: underline;
}

.comm_a:hover{
	text-decoration: underline;
}

.comment{
	height: 30px;
	float: right;
	display: block;
	margin-top: 10px;
}

li{
	margin-left: 20px;
}

.emoji{
	width: 20px;
	height: 20px;
}

.avaible_false{
	color: red;
}

.avaible_true{
	color: green;
}

.available, .lastname_error, .firstname_error, .password_error{
	margin-bottom: 5px;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
